.gitignore
.DS_Store
.project
.pydevproject
.settings
*~
\#*#
*.pyc
*.o
*.log
*.stackdump
test_data/
swift/**/@make
swift/libswift.a
swift/main/*.dat
swift/main/*.out
swift/main/fort.7
swift/main/swift_bs
swift/main/swift_bs.exe
swift/main/swift_helio
swift/main/swift_helio.exe
swift/main/swift_lyap
swift/main/swift_lyap.exe
swift/main/swift_lyap2
swift/main/swift_lyap2.exe
swift/main/swift_mvs
swift/main/swift_mvs.exe
swift/main/swift_rmvs3
swift/main/swift_rmvs3.exe
swift/main/swift_rmvs3_crossing
swift/main/swift_rmvs3_crossing.exe
swift/main/swift_rmvs4
swift/main/swift_rmvs4.exe
swift/main/swift_skeel
swift/main/swift_skeel.exe
swift/main/swift_symba5
swift/main/swift_symba5.exe
swift/main/swift_tu4
swift/main/swift_tu4.exe
swift/main/swift.inc
swift/fxdr_2.1c/test.exe
swift/fxdr_2.1c/libfxdr.a
swift/fxdr_2.1c/Makefile
website/tools-FORTRAN/*/*.a
website/tools-FORTRAN/*/*/*.a
website/tools-FORTRAN/ephem2_xxx
website/tools-FORTRAN/ephem2_xxx_sc
website/tools-FORTRAN/tracker2_jup
website/tools-FORTRAN/tracker2_jupc
website/tools-FORTRAN/tracker2_mar
website/tools-FORTRAN/tracker2_nep
website/tools-FORTRAN/tracker2_sat
website/tools-FORTRAN/tracker2_satc
website/tools-FORTRAN/tracker2_ura
website/tools-FORTRAN/viewer2_jup
website/tools-FORTRAN/viewer2_mar
website/tools-FORTRAN/viewer2_nep
website/tools-FORTRAN/viewer2_plu
website/tools-FORTRAN/viewer2_sat
website/tools-FORTRAN/viewer2_ura
website/tools-FORTRAN/Julian/tconvert
website/metadata/COxxxx/COISS
website/metadata/COxxxx/COUVIS
website/metadata/COxxxx/COVIMS
rf-research/astrometry/tinytim-7.4/*.txt
rf-research/astrometry/tinytim-7.4/*.tt3
rf-research/astrometry/tinytim-7.4/temp*
cassini_backplane/docs/_build
