.gitignore
.project
.pydevproject
*~
\#*#
*.pyc
*.o
*.log
test_data/
swift/**/@make
swift/libswift.a
swift/main/*.dat
swift/main/*.out
swift/main/fort.7
swift/main/swift_bs
swift/main/swift_helio
swift/main/swift_lyap
swift/main/swift_lyap2
swift/main/swift_mvs
swift/main/swift_rmvs3
swift/main/swift_rmvs3_crossing
swift/main/swift_rmvs4
swift/main/swift_skeel
swift/main/swift_symba5
swift/main/swift_tu4
swift/main/swift.inc


