astropy>=5.2.2
coverage>=7.3.2
cspyce>=2.2.4
numpy>=1.24.4
Pillow>=10.1.0
pyparsing>=3.1.1
rms-fpzip>=1.2.10
rms-interval>=0.0.2
rms-julian>=2.0.0
rms-pdsparser>=0.0.4
rms-pdstable>=0.0.5
rms-polymath>=0.0.1
rms-solar>=1.0.0
rms-tabulation>=0.0.2
rms-vax>=1.0.0
rms-vicar>=1.0.1
scipy>=1.10.1
